
<h1>I am a Cat Person</h1>

<img src="https://raw.githubusercontent.com/appbrewery/webdev/main/kitten.jpeg" />

<h2>I am a Dog Person</h2>

<img src="https://raw.githubusercontent.com/appbrewery/webdev/main/puppy.gif" alt="dog digging in the sand"/>