<h1>Angela's Cinnamon Roll Recipe</h1>

<h2>Ingredients</h2>

<h3>For the dough:</h3>

<ul>
<li>¾ cup warm milk</li>
<li>2 ¼ teaspoons yeast</li>
<li>¼ cup granulated sugar</li>
<li>1 egg plus 1 egg yolk</li>
<li>¼ cup butter</li>
<li>3 cups bread flour</li>
</ul>

<h3>For the filling:</h3>

<ul>
<li>2/3 cup dark brown sugar</li>
<li>1 ½ tablespoons ground cinnamon</li>
<li>¼ cup butter</li>
</ul>

<h2>Instructions</h2>

<ol>
<li>Mix the milk with the yeast, sugar, eggs.</li>
<li>Melt the butter and add to the mixture.</li>
<li>Add in the flour and mix until combined into a dough.</li>
<li>Knead the dough for 10 minuites. </li>
<li>Transfer the dough into a large bowl and cover with plastic wrap. Leave it somewhere to rise for 2 hours.</li>
<li>After the dough has doubled in size, roll it out into a large rectangle.</li> 
<li>Melt the butter for the filling and mix in the sugar and cinnamon.</li>
<li>Spread the filling onto the dough then roll the dough into a swiss roll.</li> 
<li>Cut the roll into 3cm sections and place flat into a baking tray.</li>
<li>Pre-heat the oven to 350F or 180C, then bake the rolls for 20-25min until lightly brown.</li> 
</ol>